@media screen and (max-width: 780px) {
  #about-vertical-title {
    display: none;
  }
  .about-title {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
  }
  #main-title {
    font-size: 2.5rem;
    font-family: formula-reg;
  }
  .title1 {
    font-size: 1.4rem;
    margin-bottom: -0.7rem;
  }
  .title2 {
    font-size: 1.25rem;
    margin-top: -0.7rem;
  }
  .slash {
    width: 42px;
    height: 63px;
  }
  .slash-1,
  .slash-3,
  .slash-4 {
    display: none;
  }
  .slash-2 {
    margin-right: 0rem;
    margin-top: -1.8rem;
    margin-left: -39px;
  }
  .about-title {
    height: 93.05px;
  }
  #about-hero {
    height: 954px;
  }
  .car-front-text-mobile {
    display: unset;
    position: absolute;
    top: 5%;
    left: 39%;
  }
  .carf-text1-mobile {
    font-family: formula-bold;
    font-size: 3.2rem;
    font-weight: 500;
    -webkit-text-stroke: 1px #d21717;
  }
  .carf-row2-mobile {
    display: flex;
    gap: 0.5rem;
    margin-top: -0.5rem;
    color: #e3e3e3;
    font-family: formula-bold;
    font-size: 2.2rem;
    font-weight: 500;
  }
  .hero-car {
    top: 5%;
    left: calc(-11%);
    width: 201.896px;
    height: 104.559px;
  }
  .car-front-text {
    display: none;
  }
  .hero-right-container {
    top: 15%;
    width: 100vw;
    left: 0%;
    margin-top: 63px;
    height: 210px;
  }
  .rborder-1 {
    margin-top: 59px;
  }
  .rborder-1,
  .rborder-3 {
    height: 5px;
  }
  .hero-right-content {
    width: 334px;
    margin: 0 auto;
    height: unset;
  }
  .hero-right-content > p {
    font-size: 0.875rem;
  }
  #corevalue-section {
    display: none;
  }
  #core-section-mobile{
    position: absolute;
    
    display:block;
    width:100vw;
    height:500px;
    border:2px solid red;
  }
  .cs-title-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
  }
  .cs-title-1-mobile {
    text-align: center;
    font-family: formula-bold;
    font-size: 3rem;
    font-weight: 500;
    -webkit-text-stroke: 2px #2beae2;
  }
  .cs-content-mobile {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top:0.8rem;
  }
  .cs-content1-mobile {
    color: #292929;
    font-family: formula-bold;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transform: scaleX(1.6);
  }
  .cs-content2-mobile {
    color: #1a1a1a;
    font-family: formula-bold;
    font-size: 20px;
    font-weight: 500;
    transform: scaleX(1.6);
  }
  .cs-title-2-mobile {
    position: absolute;
    right:1.5%;
    text-align: center;
    font-family: formula-bold;
    font-size: 56px;
    font-weight: 500;
    -webkit-text-stroke: 2px #2beae2;
    margin-top:-0.7rem;
  }
  .core-title1 {
    font-size: 7.75rem;
  }
  .core-title > p {
    font-size: 4.5rem;
    margin-left: -34px;
  }
  .core-title-2 {
    width: 597px;
  }
  .core-1-title > p,
  .core-2-title > p,
  .core-3-title > p {
    font-size: 1.3rem;
  }
  .core-1 {
    margin-right: -12px;
    margin-left: -67px;
    margin-top: -87px;
  }
  .core-value-1 {
    font-size: 12rem;
    margin-top: 85px;
  }
  .core-value-2 {
    font-size: 10rem;
    margin-top: 29px;
  }
  .trophy1 {
    width: 246px;
    height: 306px;
  }
  .trophy2 {
    height: 211px;
    left: 8%;
  }
  .trophy3 {
    height: 285px;
  }
  .core-value-3 {
    font-size: 9.75rem;
    margin-top: 70px;
  }
  .core-2 {
    margin-right: 29px;
  }
  .core-description > p {
    font-size: 1rem;
  }
  .coresection-content {
    right: 22%;
    top: 11%;
  }
  #core-value-section {
    min-width: 1063px;
    height: 715px;
  }
  .cs-content1 {
    font-size: 1.1rem;
  }
  .cs-content2 {
    font-size: 2.2rem;
    margin-top: -0.75rem;
  }
  .aboutline-1 {
    width: 54px;
    height: 72px;
    top: 42%;
  }
  .aboutline-2 {
    width: 72px;
    height: 116px;
    top: 42%;
  }
  .aboutline-3 {
    width: 52px;
    height: 87px;
    top: 44%;
  }
  .about-last {
    height: unset;
    justify-content: space-between;
    margin-top: 53px;
  }
  .about-left {
    justify-content: space-between;
  }
  .about-last-left {
    width: 271px;
    margin-left: 63px;
    height: 154px;
  }
  .about-last-right {
    width: 421.15px;
  }
  .al-content1 {
    font-size: 1.2rem;
  }
  .al-content2 {
    width: 247px;
    font-size: 0.75rem;
    margin-top: 1.5rem;
  }
  .ar-content1 {
    margin-left: -1px;
    font-size: 8.91rem;
  }
  .ar-content2 {
    font-size: 4.25rem;
    margin-top: -2.4rem;
  }
  .ar-img {
    top: 13%;
    right: -18%;
    width: 310px;
    height: 149px;
  }
  #al-last-left-navigation {
    display: none;
  }
  #al-last-left-navigation-1200 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .al-page-navigation-1200 {
    display: flex;
    gap: 83px;
    margin-top: 4rem;
  }
  .al-pn-img1-1200 {
    width: 28px;
    height: 20px;
  }
  .al-pn-img2-1200 {
    width: 28px;
    height: 20px;
    transform: rotate(180deg);
  }
  .al-pn-1-1200,
  .al-pn-2-1200 {
    display: flex;
    gap: 1rem;
  }
  .al-pn-1-1200 > p,
  .al-pn-2-1200 > p,
  .al-pn-x-1200 {
    color: #e3e3e3;
    font-family: formula-bold;
    font-size: 1rem;
    font-weight: 500;
  }
  .al-pn-border-1200 {
    height: 4px;
    width: 567px;
    background-color: #d21717;
    margin-top: 18px;
  }
  .about-contact {
    height: 199px;
    margin: 34px 0;
  }
  .about-contact-content {
    width: 648.145px;
  }
  .about-contact-details {
    display: none;
  }
  .about-arrow-1200 {
    display: unset;
    width: 375px;
    height: 44px;
    position: absolute;
    bottom: 0%;
  }
  .about-contact-details-1200 {
    display: unset;
  }
  .about-cc-1 {
    font-size: 3.0625rem;
  }
  .about-cc-2 {
    font-size: 4.375rem;
  }
  /* 1200 */
  .about-contact-details-1200 {
    width: 532px;
    height: inherit;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ac-details-1-1200 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .acd-1-1200,
  .acd-2-1200,
  .acd-3-1200 {
    display: flex;
    align-items: center;
  }
  .acd-1-1200 {
    padding-right: 6.625rem;
  }
  .acd-1-1200 > img,
  .acd-2-1200 > img,
  .acd-3-1200 > img {
    width: 46px;
    height: 46px;
  }
  .acd-1-1200 > p,
  .acd-2-1200 > p,
  .acd-3-1200 > p {
    color: #989494;
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 1.5rem;
  }
}
