@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@media (max-width: 780px) {
  #main {
    padding-bottom: 140px;
    overflow: hidden;
  }
  header {
    height: 75px;
    padding: 0 30px;
  }
  header > #logo {
    height: 24px;
  }
  header > nav {
    /* display: none; */
  }
  .close {
    display: unset;
    margin: 2rem;
  }
  #hamburger-menu-wrapper {
    height: 18px;
    width: 32px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    .menu-bar {
      display: block;
      height: 3px;
      width: 100%;
      background-color: #ffffff;
    }
  }
  nav {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0a0a0a;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 300;
    transform: translateY(-100%);
    /* overflow: hidden; */
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar-menu img {
    display: unset;
    margin-bottom: 18px;
    /* height:24px; */
  }
  .res-line {
    width: 49px;
    height: 4px;
    background-color: #2f2f2f;
    margin-bottom: 61px;
  }
  .pp-title {
    display: unset;
    margin-bottom: 18px;
  }
  #nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navbar ul {
    gap: unset;
  }
  #nav-menu li {
    font-size: 18px;
    margin-bottom: 56px;
    font-family: formula-bold;
  }
  .res-x-logo {
    position: absolute;
    display: unset;
    bottom: 77px; 
  }
  .navbar-menu ul{
    gap:0;
  }
  .res-footer{
    position:absolute;
    display: unset;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight:400;
    color: #8a8a8a;
    bottom: 33px;
    text-align: center;
  }
  .copywrite{
    font-size:11px;
    margin-right:5px;
  }
  .open-nav {
    transform: translateX(0%);
  }
  .res-link {
    display: unset;
  }
  #hero-img {
    display: none;
  }
  #hero-img-m {
    display: block;
    width: 100%;
  }
  /* Portfolio  */
  #download-card {
    display: none;
  }
  #download-card-m {
    display: block;
    width: 85%;
    margin: auto;
    position: relative;
    top: -60px;
    z-index: 200;
    /* margin-bottom: 60px; */
  }
  #download-card-img-m {
    width: 100%;
  }
  #download-card-m-content {
    width: 290px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #download-card-m-content h2 {
    font-size: 24px;
    line-height: 28.8px;
  }
  #download-card-m-content h2::before {
    content: "";
    display: inline;
    width: 8px;
    background-color: #0a0a0a;
    height: 80px;
  }

  #download-card-m-content span {
    font-size: 18px;
    line-height: 21.6px;
    font-family: formula-reg;
  }

  #download-options-wrapper-m {
  }
  .download-options-m {
    display: block;
    margin-left: 30px;
  }
  .download-options-m:first-child {
    width: 210px;
    margin-top: 35px;
  }
  .download-options-m:last-child {
    width: 230px;
    margin-top: 15px;
  }

  .strip-img {
    display: none;
  }
  .strip-img-m {
    display: block;
  }
  .strip-text {
    display: none;
  }

  .strip-text-m {
    font-size: 36px !important;
    word-spacing: 1000px !important;
    display: block;
    color: #0a0a0a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    text-align: center;
  }

  #grid-strip {
    margin-top: 25px;
    top: 0;
  }
  #phn-strip {
    border: none;
    margin-top: 80px;
  }
  #filler {
    display: none;
  }
  #porfolio-content-wrapper {
    display: none;
  }
  #game-section {
    height: auto;
  }
  #game-section::after {
    content: none;
  }
  #game-content-wrapper {
    display: none;
  }
  #game-content-wrapper-m {
    display: block;
  }
  .gm-content-card {
    position: relative;
    z-index: 10;
  }
  .gm-content-card > h4 {
    font-size: 36px;
  }
  .gm-content-card > h4::after {
    content: "";
    height: 8px;
    width: 70px;
    background-color: #d11616;
    display: block;
    border-radius: 8px;
    margin-top: 10px;
  }
  .gm-content-card > p {
    font-size: 18px;
    color: #989494;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  .gm-content-card > h6 {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 32px;
    margin-top: 50px;
    font-weight: 700;
  }
  .gm-content-card p:nth-child(2) {
    margin-top: 50px;
  }
  .gm-content-card p:nth-child(4) {
    margin-top: 25px;
  }
  #top-game-card {
    margin-left: 30px;
    border-left: 12px solid #d11616;
    border-bottom: 12px solid #d11616;
    border-bottom-left-radius: 48px;
    padding-left: 30px;
    padding-bottom: 75px;
    padding-top: 70px;
  }
  #formula-m {
    position: relative;
    top: 2px;
    width: 100%;
  }
  #bottom-game-card {
    padding-top: 60px;
    border-top: 12px solid #d11616;
    border-right: 12px solid #d11616;
    border-top-right-radius: 48px;
    padding-right: 55px;
    margin-right: 25px;
    padding-left: 35px;
    padding-bottom: 70px;
  }
  #game-strip {
    height: 70px;
    width: 100%;
    background-color: #d11616;
    position: relative;
  }
  #stars {
    margin-top: 46px;
    margin-left: 20px;
  }
  #dark-filler {
    height: 70px;
    margin-left: auto;
    width: 220px;
    background-color: #0a0a0a;
  }
  #f1-car {
    width: 260px;
    position: absolute;
    z-index: 200;
    right: 0;
    top: -45px;
  }

  #final {
    margin-top: 35px;
    height: auto;
  }
  #final-content-wrapper {
    flex-direction: column;
    gap: 60px;
  }
  #final-content-wrapper > p {
    font-size: 18px;
  }
  #download-options-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .download-options {
    width: 250px !important;
    height: auto;
  }
  footer {
    max-height: 560px;
    height: auto;
    position: relative;
  }
  #footer-img {
    display: none;
  }
  #footer-img-m {
    display: block;
    width: 100%;
  }
  #footer-content {
    display: none;
  }
  #footer-content-m {
    display: block;
    position: absolute;
    top: 0;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 17px;
  }
  #footer-content-m li {
    list-style: none;
    font-size: 16px;
    margin-top: 28px;
  }
  #footer-card {
    height: 143px;
    background-color: #d41919;
    border-radius: 20px;
    padding: 16px 12px;
    margin: 40px 0;
  }
  #footer-card-header {
    height: 63px;
    width: 100%;
    border-radius: 16px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  #footer-card-header-m-logo img {
    width: 45px;
  }
  #footer-card-hearer-text {
    margin-left: 15px;
    font-size: 14px;
  }
  #footer-card-hearer-text-heading {
    display: block;
    font-size: 18px;
  }
  #footer-card p {
    font-size: 16px;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 20px;
    width: 80%;
    margin: auto;
    margin-top: 18px;
  }
  #footer-subcard {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 30px;
  }
  #footer-subcard-logo {
    height: 70px;
    min-width: 70px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  #footer-subcard-logo img {
    height: 32px;
  }

  #footer-subcard-content h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
  #footer-subcard-content p {
    font-size: 16px;
    font-weight: 200;
    font-family: formula-reg;
    max-width: 200px;
    margin-top: 8px;
  }
  #download-card-m-content h2 {
    position: relative;
    padding-left: 25px;
  }
  #download-card-m-content h2::before {
    content: "";
    display: block;
    height: 84px;
    width: 8px;
    border-radius: 2px;
    background-color: #0a0a0a;
    position: absolute;
    left: 0;
    top: 2px;
  }
  #porfolio-content-wrapper-m {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 80px;
    position: relative;
    z-index: 200;
    margin-top:-50px;
  }
  .num-card-m {
    width: 197px;
    margin: auto;
  }
  .num-card-heading1{
    width:230px;
  }
  
  #right-x {
    position: absolute;
    right: 0;
    width: 110px;
    top: calc(10vw);
  }
  #left-x {
    position: absolute;
    left: 0;
    width: 110px;
    top: calc(58vw);
  }
  .num-card-row1 {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    z-index: 200;
  }
  .num-card-num-img {
    max-width: 45px;
    min-width: 45px;
    position: relative;
    z-index: 200;
  }
  .num-card-num-img img {
    /* width: 100%; */
    margin-left:-41px;
    width:117px;
    height:100.67px;
  }
  .num-card-heading {
    color: #e01717;
    width: 190px;
    position: relative;
    top: 4px;
    font-size: 18px;
    position: relative;
    z-index: 200;
  }
  .num-card-row2 {
    /* margin-top: 10px; */
    width: 235px;
    position: relative;
    z-index: 200;
  }
  #mid-num-card {
    position: relative;
    left: 65px;
    /* margin-top:1rem; */
  }
  #num-card-more-btn {
    position: relative;
    z-index: 200;
    background-color: transparent;
    border: 3px solid #d60d0d;
    color: #d60d0d;
    font-size: 26px;
    border-radius: 12px;
    width: 300px;
    height: 55px;
    font-family: formula-bold;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  #whats-it {
    display: block;
    position: absolute;
    top: calc(86vw);
    width:90%;
  }
  #portfolio {
    position: relative;
  }
  #porfolio-content{
    display: none;
  }
  .x-mb-element{
    font-size:6rem;
    color: rgba(255, 255, 255, 0.12);
  }
  .x-mb-left-first{
    position: absolute;
    top:calc(-2%);
    left:calc(0% - 1.6rem);
  }
  .x-mb-left-second{
    position: absolute;
    top:calc(8%);
    left:calc(0% - 1.6rem);
  }
  .x-mb-left-third{
    position: absolute;
    top:calc(4%);
    left:calc(13%);
  }
  .x-mb-middle{
    font-size: 33px;
    width: 254px;
    font-family: formula-bold;
    color: #272727;
    position: absolute;
    top: calc(6.25%);
    left: calc(35%);
  }
  .x-mb-right-first{
    position: absolute;
    top:calc(19%);
    right: calc(0% - 1.2rem);
  }
  .x-mb-right-second{
    position: absolute;
    top:calc(29%);
    right: calc(0% - 1.2rem);
  }
  .x-mb-right-third{
    position: absolute;
    top: calc(24%);
    right:calc(13%);
  }
  .x-mb-left2-first{
    position: absolute;
    top:calc(45%);
    left:calc(0% - 1.6rem);
  }
  .x-mb-left2-second{
    position: absolute;
    top:calc(55%);
    left:calc(0% - 1.6rem);
  }
  .x-mb-left2-third{
    position: absolute;
    top:calc(50%);
    left:calc(13%);
  }
  #category-dropmenu{
    display: none;
  }
 
}
@media (min-width:500px) and (max-width:780px) {
  #footer-card{
    height:149px;
  }
}