.active {
    color: white;
}

header {
    z-index: 1;
    position: relative;
}

.nav-menu img {
    height: 1.3rem;
    margin-right: -3.5vw;
    margin-left: 2.2vw;
    margin-top: .5vh;
}

.nav-menu li {
    font-size: 19px;
    font-weight: 700;
    color: red;
    margin-left: 4vw;
    font-family: Montserrat;
}

.category-dropmenu {
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

.category-dropmenu li {
    color: white;
}

.top-X {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 320px;
    margin-top: -17vw;
    margin-left: -10vw;
    color: rgba(26, 26, 26, 1);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 5px;
}

.r-shift {
    margin-right: -21vw;
}

.fantasy-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60vh;
    margin-left: -8vw;
}

.fantasy-head img {
    height: 9rem;
}

.head-img {
    display: flex;
    margin-right: 2rem;
}

.head-txt h2 {
    font-size: 4.4rem;
    transform: scaleX(1.1);
    margin-left: 2.7rem;
}

.fantasy-head h1 {
    color: rgba(86, 86, 86, 1);
    font-size: 2rem;
    font-family: Montserrat;
}

.l-shift {
    margin-left: -1rem;
}

.arrow {
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    transform: scaleX(0.58);
    color: red;
    margin-left: 57vw;
    margin-top: -2rem;
}

.wheel {
    margin-top: -3rem;
}

.wheel img {
    height: 16rem;
    width: 25rem;
    position: relative;
    margin-left: 38vw;
}

.wheel h1 {
    /* overflow: hidden; */
    margin-top: -11.5rem;
    font-size: 10.35rem;
    color: rgba(27, 27, 27, 1);
    /* transform: scaleY(.8); */
}

.bts {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 3rem;
    margin-top: -5.5rem;
}

.bts h2 {
    color: red;
    font-size: 3.9rem;
}

.bts p {
    color: rgba(152, 148, 148, 1);
    width: 59vw;
    /* letter-spacing: 2px; */
    font-family: Montserrat;
    /* font-weight: bolder; */
    text-align: center;
    font-size: 1.6rem;
    margin-top: .7rem;
}

.bts span {
    color: white;
}

.details {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 7vw;
}

.title h1 {
    font-size: 6rem;
    transform: scaleY(.9);
    color: rgba(210, 23, 23, 1);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.title p {
    font-size: 1.7rem;
    margin-left: -15px;
    margin-top: 23px;
    position: relative;
}

.content {
    display: flex;
    margin-top: 1rem;
}

.top1 {
    width: 7vw;
    height: 8px;
    background-color: rgba(21, 106, 235, 0.5);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.left-cont img {
    width: 23.5vw;
}

.btm1 {
    width: 12vw;
}

.right-cont {
    margin-top: .5rem;
    font-family: Montserrat;
    width: 42vw;
    word-spacing: 3px;
    margin-left: 3rem;
    line-height: 20px;
}

.top2 {
    width: 17vw;
    height: 8px;
    background-color: rgba(21, 106, 235, 0.5);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.btm2 {
    width: 11.5vw;
}

.top3 {
    width: 13vw;
    height: 8px;
    background-color: rgba(21, 106, 235, 0.5);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.btm3 {
    width: 18vw;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading h2 {
    font-size: 4rem;
    position: relative;
}

.heading h1 {
    font-size: 5rem;
    color: rgba(43, 234, 226, 1);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    margin-top: -2.5rem;
}

.pics {
    display: flex;
}

.pics h1 {
    color: red;
}

.pics p {
    font-family: Montserrat;
}

.center img {
    width: 23vw;
    margin-top: -1.8rem;
    height: 48.5rem;
    /* margin-left: 11vw; */
}

.center {
    display: flex;
    margin-left: 1rem;
}

.center h1 {
    width: 15vw;
    font-size: 1.7rem;
    margin-top: 2.4rem;
    margin-left: -5px;
}

.center p {
    margin-top: 11rem;
    margin-left: -11.5rem;
    width: 13vw;

    line-height: 24px;
}

.left-most {
    margin-top: 3rem;
    display: flex;
}

.left-most img {
    height: 29rem;
    width: 10vw;
}

.left-most h1 {
    margin-top: 2.5rem;
    width: 18vw;
    font-size: 2rem;
    margin-left: -6px;
}

.left-most p {
    width: 11vw;
    margin-top: 7.5rem;
    margin-left: -14vw;
}

.left {
    margin-top: 19rem;
    margin-left: -8rem;
}

.left p {
    width: 12vw;
    line-height: 20px;
    margin-left: 7vw;
    font-size: 14px;
}

.left h1 {
    margin-left: 2.5rem;
    margin-bottom: -7px;
    margin-top: 8px;
}

.left img {
    width: 18vw;
}

.right {
    margin-top: 22rem;
    margin-left: -8rem;
}

.right img {
    width: 19vw;
    height: 34rem;
}

.right p {
    width: 13vw;
    margin-left: -6rem;
}

.right h1 {
    margin-top: 2rem;
    margin-bottom: -8px;
}

.right-most {
    display: flex;
    margin-top: 5rem;
}

.right-most h1 {
    text-align: right;
    margin-top: 3rem;
    margin-left: -10rem;
    width: 10vw;
}

.right-most p {
    margin-top: 13rem;
    width: 10vw;
    margin-left: -6rem;
    margin-right: 2.5rem;
}

.right-most img {
    height: 29.5rem;
    width: 9.5vw;
}

.bg-fade {
    margin-top: -25rem;
}

.bg-fade img {
    height: 30rem;
    width: 100%;
}

.cmg-soon {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: -28rem;
    overflow: hidden;
}

.img1 {
    height: 32rem;
    width: 22rem;
    margin-bottom: 1rem;
    margin-top: -0.7rem;
    margin-left: -1rem;
    position: relative;
    z-index: 1;
}

.r-man {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    margin-left: -10rem;
}

.r-man h1 {
    margin-top: -2.4rem;
    font-size: 5rem;
    font-weight: 700;
    position: relative;
    z-index: 2;
    transform: scaleX(1.2);
    margin-left: -6rem;
}

.rect1 {
    height: 10rem;
    margin-top: 3rem;
    margin-left: 8rem;
    position: absolute;
}

.left-rect {
    margin-left: -2.5rem;
    margin-top: 26rem;
    display: flex;
}

.rect2 {
    height: 11rem;
    margin-top: -11rem;
}

.rect3 {
    height: 11rem;
}

.right-rect {
    display: flex;
    margin-right: -6.5rem;
}

.right-rect img {
    height: 10rem;
}

.rect4 {
    margin-top: 9.9rem;
    margin-right: -6.3rem;
}

.apps {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 8rem;
}

.apps img {
    height: 4rem;
    width: 13rem;
}

.rect6 {
    height: 10rem;
    margin-left: 71.5vw;
    overflow: hidden;
    margin-top: -1.5rem;
    margin-bottom: -4.5rem;
}

.lights-out {
    height: 2.8rem;
    width: 14rem;
    margin-left: -1.3rem;
}


@media(max-width: 1500px) {
    .wheel h1 {
        font-size: 9rem;
        text-align: center;
    }

    .top-X {
        font-size: 18.5rem;
    }

    .right-cont {
        width: 53vw;
    }

    .title p {
        margin-top: 4rem;
        margin-left: -2.75rem;
    }

    .poster {
        overflow: hidden;
    }

    .right-most {
        /* overflow: hidden; */
    }

    .right-most h1 {
        text-align: right;
        margin-top: 3rem;
        margin-left: -9rem;
        width: 10vw;
    }

    .right-most p {
        margin-top: 13rem;
        width: 10vw;
        margin-left: -5rem;
        margin-right: 2.5rem;
    }
}

@media (max-width: 1460px) {
    .right p {
        margin-left: -3rem;
    }
}

@media(max-width: 1430px) {
    .center h1 {
        width: 18vw;
    }

    .left-most h1 {
        margin-left: -3px;
    }

    .pics h1 {
        font-size: 1.8rem;
    }

    .right p {
        margin-left: -5rem;
    }

    .right h1 {
        margin-left: 1rem;
    }
}

@media (max-width: 1390px) {
    .top-X {
        font-size: 18rem;
    }

    .head-txt h1 {
        font-size: 1.7rem;
    }

    .head-txt h2 {
        font-size: 4rem;
    }

    .arrow {
        font-size: 2.8rem;
    }

    .img1 {
        margin-top: -1rem;
        margin-left: 0.6rem;
    }

    .r-man h1 {
        font-size: 4.3rem;
        margin-bottom: 2rem;
    }

    .rect2 {
        height: 10rem;
        margin-left: 0.5rem;
    }

    .rect3 {
        height: 10rem;
        margin-top: -1rem;
        margin-left: -2px;
    }

    .right-rect {
        margin-top: 14rem;
    }

    .rect4,
    .rect5 {
        height: 10rem;
    }

    .center img {
        height: 42rem;
        width: 20rem;
        margin-left: 2rem;
    }

    .left-most img {
        width: 7rem;
    }

    .left img {
        height: 32rem;
    }

    .left {
        margin-top: 15rem;
    }

    .right img {
        height: 31rem;
    }

    .pics h1 {
        font-size: 1.7rem;
    }

    .pics p {
        font-size: 14px;
    }

    .cmg-soon {
        margin-top: -30rem;
    }

    .right-most p {
        margin-top: 12rem;
        margin-left: -6rem;
    }

}

@media (max-width: 1340px) {
    .top-X {
        font-size: 17rem;
    }

    .head-txt h1 {
        font-size: 1.4rem;
    }

    .head-txt h2 {
        font-size: 3.5rem;
    }

    .arrow {
        font-size: 2.8rem;
    }

    .fantasy-head img {
        height: 8rem;
    }

    .fantasy-head {
        margin-top: -54vh;
        margin-left: -16vw;
    }

    .nav-menu li {
        font-size: 17px;
    }

    .wheel img {
        width: 22rem;
        height: 15rem;
    }

    .wheel h1 {
        font-size: 8rem;
    }

    .bts h2 {
        margin-top: 2rem;
        font-size: 3.4rem;
    }

    .bts p {
        font-size: 1.7rem;
        width: 70vw;
    }
}

@media (max-width: 1312px) {

    .head-txt h2 {
        font-size: 3rem;
    }

    .top-X {
        font-size: 16rem;
    }

    .fantasy-head img {
        height: 7rem;
    }

    .head-img {
        margin-left: -7rem;
    }

    .arrow {
        font-size: 2.7rem;
    }

    .wheel h1 {
        font-size: 7rem;
        margin-top: -10rem;
    }

    .bts h2 {
        font-size: 3.1rem;
        margin-left: -3rem;
        margin-top: 1.9rem;
    }

    .bts p {
        font-size: 1.25rem;
        width: 60vw;
        margin-left: -4rem;
    }

    .wheel img {
        width: 19rem;
    }

    .right-cont p {
        width: 60vw;
    }

    .pics {
        margin-top: 18vh;
    }

    .pics h1 {
        font-size: 1.5rem;
    }

    .img1 {
        margin-top: -.2rem;
        margin-left: 3.5rem;
    }

    .rect1,
    .rect2,
    .rect3,
    .rect4,
    .rect5 {
        height: 9rem;
    }

    .rect3 {
        margin-top: -2rem;
    }

    
}

/* 
@media (max-width: 1810px) {
    .wheel {
        text-align: center;
        margin-top: 1vw;
    }

    .wheel img {
        margin-left: 0;
    }
}

@media(max-width:1550px) {
    .r-shift {
        margin-right: -22rem;
    }

    .top-X {
        margin-top: -15rem;
    }
}

@media(max-width:1600px) {
    .nav-menu li {
        font-size: 1.4rem;
    }

    .category-dropmenu {
        margin-right: -0.5vw;
    }

    .r-shift {
        margin-right: -22rem;
    }

    .top-X {
        margin-top: -15rem;
    }

    .right-cont {
        width: 55vw;
    }

    .right-most h1 {
        text-align: right;
        margin-top: 3rem;
        margin-left: -13rem;
        width: 10vw;
    }

}

@media(max-width: 1650px) {
    .wheel h1 {
        font-size: 11rem;
    }

    .right-most h1 {
        margin-left: -13.5rem;
    }

    .top-X {
        font-size: 350px;
    }

    .r-shift {
        margin-right: -23rem;
    }
} */