@font-face {
  font-family: "formula-bold";
  src: url("../font/formula1-bold.ttf") format("truetype");
}

@font-face {
  font-family: "formula-reg";
  src: url("../font/f1reg.otf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: formula-bold;
  max-width: 1800px;
  margin: auto;
}

a {
  text-decoration: none;
}

header {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>#logo {
  height: 32px;
}

header>nav {
  margin-right: 2rem;
}

header>nav>ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
}

.close {
  display: none;
}

#hamburger-menu-wrapper {
  display: none;
}
/* #navbarlogo{
  display: none;
} */

#drop-arrow {
  margin-left: 10px;
}

.pp-shift {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pp-title {
  display: none;
}

/* nav>img{
  display:none;
} */
.navbar-menu {
  transition: transform 2s ease-out;
}
/* .navbar-menu img {
  display: none;
} */
.navbar-logo {
  display: none;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
}

.res-link {
  display: none;
}

.res-x-logo {
  display: none;
}

.res-footer {
  display: none;
}

/* main {} */

#category-dropmenu {
  display: flex;
  gap: 0.6rem;
}

#hero {
  min-width: 100%;
}

#hero-img {
  width: 100%;
}

#hero-img-m {
  display: none;
}

/* Portfolio section */

#portfolio {
  min-width: 100%;
  position: relative;
}

#nav-menu li {
  color: rgba(218, 13, 13, 1);
  font-family: formula-bold;
}

#download-card {
  width: 80%;
  /* height: 180px; */
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  /* background-image: url('../images/download_card.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#download-card-m {
  display: none;
}

#download-card-img {
  width: 100%;
}

#card-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: absolute;
}

.fantasy {
  display: flex;
  width: 25rem;
  align-items: center;
}

.fantasy h2 {
  font-size: 1.7rem;
}

.fantasy span {
  font-size: 1.2rem;
}

.side-line {
  height: 90px;
  width: 15px;
  background-color: #0a0a0a;
  margin-left: 4rem;
  margin-right: 1rem;
}

#card-content>h2 {
  /* position: absolute; */
  margin-left: -6rem;
  width: 19rem;
}

#download-options-wrapper {
  display: flex;
  gap: 2rem;
}

.fant-div {
  background-color: #0a0a0a;
  height: 100%;
  border-radius: 16px;
  padding: 0;
}

.right-up {
  height: 2.5rem;
  width: 9rem;
  position: absolute;
  border-style: solid solid none none;
  border-color: white;
  border-width: 1px;
  right: -0.8rem;
  top: -0.8rem;
  border-top-right-radius: 8px 8px;
  background-color: transparent;
}

.left-btm {
  height: 5rem;
  width: 7rem;
  position: absolute;
  bottom: -0.6rem;
  left: -0.8rem;
  border-style: none none solid solid;
  border-color: red;
  border-width: 1px;
  /* border-radius: 8px; */
  border-bottom-left-radius: 8px 8px;
  background-color: transparent;
}
.navbar-logo{
  display: none;
}
.right-btm {
  height: 5.7rem;
  width: 41rem;
  position: absolute;
  right: -0.8rem;
  bottom: -0.8rem;
  border-style: none solid solid none;
  border-color: red;
  border-width: 1px;
  /* border-radius: 8px; */
  border-bottom-right-radius: 8px 8px;
  background-color: transparent;
}

.right-outer {
  height: 5.7rem;
  width: 40.5rem;
  position: absolute;
  right: -1.6rem;
  bottom: -1.6rem;
  border-style: none solid solid none;
  border-color: red;
  border-width: 1px;
  /* border-radius: 8px; */
  border-bottom-right-radius: 8px 8px;
  background-color: transparent;
}

.play-store {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 3.8rem;
}

.wait-text {
  font-size: 11px;
  margin-top: -15px;
}

.download-options {
  height: 60px;
}

.download-options2 {
  height: 60px;
}

#filler {
  height: 230px;
}

#porfolio-content {
  position: relative;
}

#porfolio-content-wrapper {
  /* position: relative; */
  position: absolute;
  top: calc(10% - 3.5rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.x-container-left {
  position: relative;
  width: 336px;
  height: 512px;
}

.x-container-right {
  position: relative;
  width: 336px;
  height: 512px;
}

.x-element {
  font-size: 16rem;
  color: #272727;
  line-height: 0.9;
}

.x-left-first {
  position: absolute;
  left: calc(0% - 1.5rem);
}

.x-left-second {
  position: absolute;
  left: calc(0% - 1.5rem);
  top: 14rem;
}

.x-left-third {
  position: absolute;
  left: 11rem;
  top: 7rem;
}

.x-right-first {
  position: absolute;
  right: calc(0% - 1.5rem);
}

.x-right-second {
  position: absolute;
  right: calc(0% - 1.5rem);
  top: 14rem;
}

.x-right-third {
  position: absolute;
  right: 11rem;
  top: 7rem;
}

.x-middle {
  height: 48px;
  width: 660px;
  font-size: 2.7rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #272727;
  text-align: center;
}

.port {
  color: rgba(39, 39, 39, 1);
}

.port-end-first {
  position: absolute;
  font-size: 17rem;
  right: calc(0% - 2.5rem);
  overflow-x: hidden;
}

.port-end-second {
  position: absolute;
  font-size: 17rem;
  right: calc(0% - 2.5rem);
  top: calc(35%);
  overflow-x: hidden;
}

.port-x-first {
  position: absolute;
  font-size: 17rem;
  left: calc(0% - 2.5rem);
}

.port-x-second {
  position: absolute;
  font-size: 17rem;
  left: calc(0% - 2.5rem);
  top: calc(35%);
}

.port-text {
  display: flex;
  align-items: center;
  margin: auto;
  position: absolute;
  margin-left: 10rem;
  margin-top: 8rem;
}

.port-text h1 {
  font-size: 16rem;
}

.port-text h2 {
  font-size: 2rem;
  font-family: formula-bold;
  transform: scale(1.5, 1);
  margin-top: -5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

#porfolio-content-wrapper-m {
  display: none;
}

#porfolio-content-wrapper>img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#number-cards-wrapper {
  width: 70%;
  margin: auto;
}

#whats-it {
  display: none;
}

#row-1 {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 200;
  /* padding-top: 1rem; */
  max-width: 1370px;
  margin-left: 2rem;
}

.card {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  max-width: 520px;
  justify-content: center;
  width: 570px;
}

.card>.card-num {
  width: 110px;
  position: relative;
}

.card-num>img {
  position: absolute;
  left: -79px;
  top: -54px;
  width: 240px;
  height: 240px;
}

.text-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 10;
  margin-left: 3rem;
}

.text-card>.card-title {
  /* margin-left: 2rem; */
  color: #e01717;
}

.text-card>.text {
  /* width: 90%; */
  font-size: 20px;
  font-family: formula-reg;
}

#row-2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  z-index: 200;
  margin-top: 130px;
  margin-left: 4rem;
}

.pd-1 {
  padding-left: 1rem;
}

#btn-row {
  width: 100%;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
}

#btn-row>button {
  display: block;
  margin: auto;
  padding: 1rem 5rem;
  border: 2px solid #e01717;
  background-color: transparent;
  font-family: formula-bold;
  font-size: 1.5rem;
  color: #e01717;
  border-radius: 10px;
}

/* Strip */
.strip {
  position: relative;
  font-size: 2.6rem;
}

.strip>img {
  width: 100%;
}

.strip>h3 {
  font-family: Formula1;
  font-weight: 500;
  font-size: 104.18px;
  word-wrap: break-word;
}

.strip-img-m {
  display: none;
}

.strip-text {
  color: #0a0a0a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  text-align: center;
}

.strip-text-m {
  display: none;
}

.footer-links {
  color: white;
  text-decoration: none;
}

/* Game section */

#game-section {
  height: 800px;
  padding-bottom: 40px;
  margin-bottom: 95px;
  position: relative;
}

#game-section::after {
  content: "";
  height: 310px;
  width: 30px;
  position: absolute;
  right: 0;
  bottom: 40px;
  background-image: url(../images/side.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#game-content-wrapper {
  position: relative;
  margin-top: 100px;
  padding: 1rem 0;
}

#game-content-wrapper>img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

#game-content-wrapper-m {
  display: none;
}

.f-text-m {
  font-size: 5rem;
  color: rgba(209, 22, 22, 1);
  margin-left: 9%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#game-outer-box {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0 0;
  border-radius: 48px;
  border: 9px #d11616 solid;
  background-color: rgba(209, 22, 22, 1);
  /* angle: -180 deg; */
}

.game-outer-div {
  display: flex;
  height: 29rem;
  overflow: hidden;
}

.div1 {
  width: 140rem;
  height: 40rem;
  margin-left: -35px;
  margin-right: -198px;
  /* transform: rotate(180deg); */
  transform-origin: 0 0;
  border-radius: 48px;
  border: 12px #d11616 solid;
  padding: 8rem;
  z-index: 200;
}

.div3 {
  margin-right: -40px;
  width: 145rem;
  height: 40rem;
  margin-right: -20;
  margin-left: -174px;
  /* transform: rotate(180deg); */
  transform-origin: 0 0;
  border-radius: 48px;
  border: 12px #d11616 solid;
  padding: 8rem;
  z-index: 200;
}

p {
  margin: 0;
}

.text-rotate {
  margin-top: 12.5rem;
  transform: rotate(-90deg);
  margin-right: -15px;
  margin-left: 5px;
}

.div2 {
  /* height: 10rem; */
  /* width: 18rem; */
  transform-origin: 0 0;
  text-align: center;
  color: #d11616;
  font-family: formula-bold;
  font-weight: 700;
  word-wrap: break-word;
  font-size: 70px;
  /* margin: 10rem 0 0 0; */
  z-index: 4;
}

.up-text {
  font-family: formula-bold;
  font-size: 5rem;
  transform: scaleY(0.5);
  color: rgba(43, 234, 226, 1);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 5px;
  /* width: 4px; */
}

.up-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 70%; */
  margin-bottom: 3rem;
  margin-top: -11rem;
}

.strip-left {
  width: 5.5rem;
  height: 5px;
  background-color: rgba(43, 234, 226, 1);
}

#game-content-box {
  max-width: 90%;
  border: 2px solid #272727;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -29.6rem;
  z-index: 1;
}

#game-content-box::before {
  content: "";
  height: 70px;
  width: 80px;
  position: absolute;
  bottom: -20px;
  left: -35px;
  background-image: url(../images/triangle.svg);
}

#game-content-box::after {
  content: "";
  height: 90px;
  width: 90px;
  background-color: #e01717;
  position: absolute;
  right: -20px;
  top: -35px;
  background-image: url(../images/square.svg);
}

#gm-strip {
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
  margin-top: -20px;
}

.earn-txt {
  font-family: formula-bold;
  font-size: 7.2rem;
  color: rgba(25, 24, 24, 1);
}

.earn-div {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin-top: -2.2rem;
  color: rgba(43, 234, 226, 1);
}

#gm-strip>img {
  width: 100%;
}

#gm-car {
  position: absolute;
  max-width: 220px;
  width: 14vw;
  left: 50%;
  transform: translateX(-50%);
  top: calc(28vw);
  z-index: 300;
}

#gm-wrapper {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

.col-wrapper {
  width: 38%;
}

.col {
  width: 300px;
}

.col-heading {
  margin-bottom: 1.8rem;
}

.col-heading>h2 {
  font-size: 3rem;
}

.underline {
  display: block;
  height: 4px;
  width: 100px;
  background-color: #e01717;
  margin-top: 5px;
}

.col>p {
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #989494;
}

.col>h4 {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-style: italic;
}

/* car grid section */

#grid-strip {
  position: relative;
  top: -50px;
}

/* phone banner section */

#phn-strip {
  border-top: 1px solid #e01717;
}

#final {
  height: 220px;
  margin-top: 70px;
}

#final-content-wrapper {
  display: flex;
  width: 74%;
  margin: auto;
  gap: 220px;
  align-items: center;
}

#final-content-wrapper>p {
  font-family: "Montserrat", sans-serif;
  color: #989494;
  font-size: 20px;
}

/* footer */
footer {
  height: 250px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#footer-img {
  width: 100%;
}

#footer-img-m {
  display: none;
}

#footer-content-m {
  display: none;
}

#footer-content {
  display: block;
  position: absolute;
  top: 0;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 17px;
  height: 200px;
  padding-top: 40px;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

#footer-content-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

#pm-text small {
  display: block;
  font-size: 20px;
  font-family: formula-bold;
}

#pm-text span {
  display: block;
  font-size: 16px;
  margin-top: 8px;
  max-width: 210px;
  font-family: formula-reg;
}

.foot-msg {
  color: white;
}

#pm-logo {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#pm-logo img {
  display: block;
  width: 60px;
  height: 35px;
}

/* #footer-content-right {} */

#pm-card {
  width: 700px;
  height: 63px;
  border-radius: 20px;
  background-color: #d41919;
  padding: 0 10px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

#pm-card-text {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#pm-subcard {
  background-color: #fff;
  height: 44px;
  border-radius: 12px;
  width: 199px;
}

#pm-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 45px;
  padding-top: 7px;
}

.pm-nav-items {
  font-size: 20px;
  font-family: formula-reg;
}

.pm-nav-items>a {
  color: white;
  text-decoration: none;
}

.pm-nav-items>a:hover {
  color: gainsboro;
}

#copyright {
  font-size: 16px;
  margin-top: 60px;
  margin-left: 35px;
  font-family: formula-bold;
}

#pm-subcard {
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

#subcard-footer-logo {
  width: 45px;
}

#subcard-footer-text-heading {
  font-size: 20px;
  display: block;
}

#subcard-footer-text {
  font-size: 14px;
  margin-left: 15px;
}

#subcard-footer-arrow {
  width: 19px;
  height: 16px;
  display: block;
  margin-left: auto;
}

.upcom-m {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  /* justify-content: start; */
  margin-left: -1.3rem;
  margin-right: 16px;
}

.stripe-up {
  width: 100%;
  height: 6px;
  background-color: rgba(43, 234, 226, 1);
}

.mobile-up {
  width: 90%;
  margin: auto;
  margin-top: -20px;
}

.xxx {
  text-align: end;
  color: #2beae2;
  font-size: 1rem;
}

/* media queries */

@media (min-width: 780px) {
  .mobile-up {
    display: none;
  }

  .upcom-m {
    display: none;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1300px) {
  .earn-txt {
    font-size: 7rem;
    text-align: center;
  }
}

@media (min-width: 1300px) {
  #game-content-box {
    margin-top: 95px;
  }

  .game-outer-div {
    height: 29rem;
  }

  #gm-car {
    margin-top: -34px;
  }

  .up-div {
    margin-top: -13rem;
  }

  .earn-div {
    font-size: 2rem;
  }

  .port-text {
    margin-left: 10.5rem;
  }

  .col>p {
    width: 412px;
  }
}

@media (min-width: 1400px) {
  .game-outer-div {
    height: 29rem;
  }

  #gm-car {
    margin-top: -50px;
  }

  .up-div {
    margin-top: -11.2rem;
  }

  .strip-left {
    width: 9rem;
  }

  .earn-txt {
    font-size: 8rem;
  }

  .port-text h2 {
    font-size: 2.3rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (min-width: 1500px) {
  .side-line {
    height: 80px;
    width: 10px;
  }

  .fantasy {
    width: 41rem;
  }

  .fantasy h2 {
    font-size: 2rem;
  }

  .fantasy span {
    font-size: 1.4rem;
  }

  #gm-car {
    margin-top: -80px;
  }

  .up-div {
    margin-top: -11.2rem;
    gap: 3rem;
  }

  .strip-left {
    width: 10rem;
  }

  .earn-txt {
    font-size: 8.5rem;
  }

  .div1 {
    margin-right: -200px;
  }

  .div3 {
    margin-left: -182px;
  }

  .port-text {
    margin-left: 11rem;
    margin-top: 8.6rem;
  }

  .port-text h2 {
    font-size: 2.6rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .col>p {
    width: 450px;
    font-size: 20px;
  }

  .port-x-first,
  .port-x-second {
    left: calc(0% - 4rem);
  }

  .port-end-first,
  .port-end-second {
    right: calc(0% - 4rem);
  }

  #pm-card-text {
    width: 499px;
  }
}

@media (min-width: 1590px) {
  #gm-car {
    margin-top: -110px;
  }
}

@media (min-width: 1650px) {
  #gm-car {
    margin-top: -130px;
  }

  .up-text {
    font-size: 90px;
  }

  .strip-left {
    width: 100%;
  }

  .earn-txt {
    font-size: 9.4rem;
  }
}

@media (min-width: 1600px) {
  .col>p {
    width: 500px;
  }

  .fantasy {
    width: 45rem;
  }

  .fantasy h2 {
    font-size: 2.5rem;
  }

  .side-line {
    height: 6rem;
  }

  .fantasy span {
    font-size: 1.8rem;
  }
}

@media (min-width: 1710px) {
  #gm-car {
    margin-top: -150px;
  }

  .earn-txt {
    font-size: 9.8rem;
  }

  .port h1 {
    font-size: 16.5rem;
    /* margin-top: -3rem; */
  }

  .port-text {
    margin-top: 9rem;
  }

  .port-text h2 {
    font-size: 7.5rem;
  }

  /* .port-x-second {
    margin-top: 16.5rem;
  } */

  .port-text h2 {
    margin-top: -8.6rem;
    font-size: 3.3rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .col>p {
    font-size: 20px;
    width: 600px;
  }

  .col-heading>h2 {
    font-size: 48px;
  }

  .col>h4 {
    font-size: 32px;
  }
}

@media (min-width: 1790px) {
  #gm-car {
    top: 480px;
  }

  .port h1 {
    font-size: 18.5rem;
  }
}

@media (min-width: 1515px) and (max-width: 1699px) {
  .port h1 {
    font-size: 18rem;
  }

  .port-text h2 {
    font-size: 2.9rem;
  }
}

@media (min-width: 1339px) and (max-width: 1499px) {
  .port h1 {
    font-size: 15.5rem;
  }

  .port-text h2 {
    font-size: 2.4rem;
  }

  .port-end-second {
    /* margin-top: -4.8rem; */
  }
}

@media (max-width: 1280px) {
  /* .text-card > .text {
    width: 90%;
    font-size: 19px;
    margin-left: 1.5rem;
  } */

  #game-section {
    margin-bottom: 75px;
    padding-bottom: 20px;
  }

  #game-content-box {
    margin-top: 85px;
  }

  .game-outer-div {
    height: 30rem;
  }
}

@media (max-width: 1260px) {
  .earn-txt {
    font-size: 6.5rem;
  }
}

@media (max-width: 1250px) {
  #game-content-box {
    margin-top: 50px;
  }

  .game-outer-div {
    height: 32rem;
  }

  #gm-car {
    margin-top: 10px;
  }

  .up-div {
    margin-top: -11.2rem;
  }

  .up-text {
    font-size: 70px;
  }
}

@media (max-width: 1200px) {
  /* ---------Portfolio Section------------ */
  /* Download Card */

  #btn-row {
    margin-top: 4rem;
  }

  .download-options2 {
    height: 50px;
  }

  #download-card {
    top: -45px;
  }

  #download-options-wrapper {
    position: relative;
    top: -6px;
  }

  #card-content {
    gap: 2rem;
  }

  /* .strip {} */

  #card-content>h2 {
    font-size: 1.4rem;
    margin-left: 6rem;
  }

  .download-options {
    height: 50px;
  }

  /* Porfolio Content */
  #filler {
    height: 180px;
  }

  .right-up {
    height: 2.5rem;
    width: 9rem;
  }

  .up-div {
    margin-top: -1.8rem;
    margin-bottom: 6rem;
  }

  .up-text {
    font-size: 70px;
  }

  #row-1 {
    gap: 4.5rem;
    justify-content: space-between;
  }

  /* Game Box Section */
  #game-section {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #game-section::after {
    width: 20px;
    height: 260px;
  }

  #game-content-wrapper {
    margin-top: 60px;
  }

  #game-content-box {
    margin-top: 40px;
    height: 38rem;
  }

  #game-content-box::before {
    height: 60px;
    width: 70px;
    bottom: -15px;
    left: -25px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #game-content-box::after {
    height: 65px;
    width: 65px;
    top: -25px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #gm-car {
    bottom: -130px;
    width: 200px;
    margin-top: 1.5rem;
  }

  /* Footer */
  #final {
    height: 180px;
    margin-top: 50px;
  }

  #final-content-wrapper {
    width: 80%;
    gap: 80px;
  }

  #pm-card {
    width: 650px;
    gap: unset;
  }

  #pm-nav {
    margin-bottom: 30px;
    width: 90%;
    margin-left: auto;

    gap: 0.8rem;
  }

  /* #pm-subcard {
    padding: 10px;
    width: 80%;
  } */

  .pm-nav-items {
    font-size: 16px;
    word-break: break-all;
  }

  #subcard-footer-text-heading {
    font-size: 16px;
  }

  #subcard-footer-logo {
    width: 35px;
  }

  #pm-text small {
    font-size: 18px;
  }

  #pm-text span {
    font-size: 14px;
  }

  .port-X {
    margin-left: -1.5rem;
  }

  .port-end {
    /* position: absolute; */
    /* right: 0; */
    /* overflow: hidden; */
  }

  /* .port-end h1 {
    margin-top: -1rem;
    font-size: 16rem;
    margin-right: -3rem;
  } */

  /* .port-x-first,
  .port-x-second {
    margin-left: -2.5rem;
  } */
  /* .port-x-second {
    margin-left: -2.5rem;
  } */
  .port-x-first,
  .port-x-second,
  .port-end-first,
  .port-end-second,
  .port-text h1 {
    font-size: 16rem;
  }

  /* .port-end-first,
  .port-end-second {
    margin-right: -1.5rem;
  }
  .port-end-second {
    margin-top: -4.9rem;
  } */

  .port-text {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 8.4rem;
    margin-top: 8rem;
    /* width: 35rem; */
  }

  .port-text h2 {
    font-size: 1.8rem;
    margin-left: 3.4rem;
    margin-right: 3.7rem;
  }

  .text-card {
    margin-left: 1.2rem;
    width: 80rem;
  }

  .text-card {
    margin-left: 0px;
  }

  .card-title {
    color: #e01717;
    margin-left: 0px;
  }

  .text-1 {
    word-break: break-word;
    font-family: formula-reg;
    margin-left: 0;
  }

  .card {
    gap: 0;
  }

  .card-1 {
    width: 260px;
  }

  .card-2 {
    width: 310px;
  }

  .card-3 {
    width: 355px;
  }

  .text-2 {
    word-break: break-word;
    font-family: formula-reg;
    margin-left: 0;
  }

  .pd-1 {
    padding-left: 0;
  }

  #row-1 {
    margin-left: 0px;
  }

  .x-container-left {
    height: 316px;
  }

  .x-container-right {
    height: 316px;
  }

  .x-left-first {
    left: 0;
  }

  .x-left-second {
    top: 10rem;
    left: 0px;
  }

  .x-left-third {
    position: absolute;
    left: 9rem;
    top: 5rem;
  }

  .x-right-first {
    position: absolute;
    right: 0;
  }

  .x-right-third {
    position: absolute;
    right: 9rem;
    top: 5rem;
  }

  .x-right-second {
    position: absolute;
    right: 0;
    top: 10rem;
  }

  .x-element {
    font-size: 11rem;
  }

  #porfolio-content-wrapper {
    top: 32px;
  }

  #row-2 {
    margin-top: 64px;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .col>p {
    width: 349px;
  }

  .text-3 {
    width: 400px;
  }
}

@media (max-width: 1140px) {
  #game-content-box {
    margin-top: 50px;
  }

  #gm-car {
    margin-top: 24px;
  }

  .strip-left {
    width: 5rem;
  }

  .up-text {
    font-size: 65px;
  }

  .earn-txt {
    font-size: 6rem;
  }
}

@media (max-width: 1100px) {
  .fantasy h2 {
    font-size: 1.5rem;
  }

  .fantasy span {
    font-size: 1rem;
  }

  #gm-car {
    margin-top: 3rem;
  }

  .strip {
    margin-top: 10px;
  }

  .up-text {
    font-size: 58px;
  }
}

@media (max-width: 1050px) {
  #gm-car {
    margin-top: 60px;
  }

  .up-text {
    font-size: 53px;
  }

  .earn-txt {
    font-size: 5.7rem;
  }
}

@media (max-width: 1000px) {
  #gm-car {
    margin-top: 5rem;
  }

  .earn-txt {
    font-size: 5.4rem;
  }

  .fantasy h2 {
    font-size: 1.3rem;
  }

  .fantasy span {
    font-size: .8rem;
  }

  .side-line {
    height: 4.5rem;
    width: 13px;
  }
}

@media (max-width: 950px) {
  #gm-car {
    margin-top: 5.8rem;
  }

  .col-heading>h2 {
    font-size: 2.2rem;
    width: 100px;
  }

  .up-text {
    font-size: 50px;
  }

  .earn-txt {
    font-size: 5rem;
  }

  .earn-div {
    font-size: 1.4rem;
  }
}

@media (max-width: 880px) {
  #gm-car {
    margin-top: 100px;
  }

  .earn-txt {
    font-size: 4.5rem;
  }

  .earn-div {
    margin-top: -1.4rem;
  }
}

@media (max-width: 860px) {
  #gm-car {
    margin-top: 7.3rem;
  }

  .up-text {
    font-size: 43px;
  }
}

@media (max-width: 820px) {
  #pm-nav {
    width: 95%;
  }

  #gm-car {
    margin-top: 115px;
  }
}

@media (max-width: 780px) {
  .pp-shift {
    display: none;
  }

  .up-text {
    -webkit-text-stroke-width: 1px;
    font-size: 1.5rem;
  }

  .up-div {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 580px) {
  .earn-txt {
    font-size: 3.2rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 500px) {
  .earn-txt {
    font-size: 2.8rem;
    margin-top: 1.5rem;
  }
}

@media (min-width: 580px) and (max-width: 650px) {
  .earn-txt {
    font-size: 3.8rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 426px) {
  .f-text-m {
    font-size: 3rem;
  }

  .earn-div {
    margin-top: -10px;
    margin-left: 13rem;
    font-size: 14px;
  }

  .earn-txt {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }

  .up-text {
    font-size: 6vw;
  }

  .strip-left {
    width: 2rem;
  }
}

@media (min-width: 781px) and(max-width:800px) {
  .col>p {
    width: 250px;
    font-size: 0.8rem;
    word-spacing: 1px;
  }
}

@media (min-width: 800px) and (max-width: 1259px) {
  .port h1 {
    font-size: 15rem;
  }

  .port-text {
    margin-top: 9rem;
  }

  .port-x-first,
  .port-x-second {
    left: calc(0% - 2.5rem);
  }
}

#porfolio-content-wrapper-m {
  position: absolute;
}

.num-card-row1,
.num-card-row2 {
  /* position: relative; */
  margin-left: -1.5rem;
}

/* .num-card-heading {} */

@media (max-width: 410px) {
  .up-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 393px) {
  .earn-txt {
    font-size: 9vw;
  }

  .earn-div {
    margin-left: 12.5rem;
  }
}

@media (max-width: 385px) {
  .f-text-m {
    font-size: 2.8rem;
  }

  .earn-txt {
    font-size: 2.2rem;
  }

  .earn-div {
    margin-left: 11.5rem;
  }

  .up-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .up-text {
    font-size: 6vw;
  }
}

@media (max-width: 350px) {
  .earn-txt {
    font-size: 9vw;
  }

  .earn-div {
    font-size: 3.5vw;
    margin-left: 10rem;
  }
}

@media (max-width: 335px) {
  .f-text-m {
    font-size: 12vw;
  }
}

@media (max-width: 310px) {
  .earn-txt {
    font-size: 8.5vw;
  }

  .earn-div {
    margin-left: 7rem;
  }
}

@media (min-width: 1260px) and (max-width: 1370px) {
  .x-middle {
    font-size: 3rem;
    width: 770px;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1370px) and (max-width: 1500px) {
  .x-middle {
    font-size: 3.65rem;
    width: 900px;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .x-middle {
    width: 1260px;
    font-size: 4.65rem;
    margin-bottom: 7rem;
  }

  #row-2 {
    margin-top: 180px;
    margin-left: 2rem;
  }

  .text-card>.card-title {
    margin-left: 1rem;
    padding-left: 0.8rem;
    font-size: 1.5rem;
  }

  .card-num>img {
    top: -68px;
    height: 240px;
  }

  .pd-1 {
    padding-left: unset;
  }

  .text-card {
    width: 500px;
    margin-left: 0rem;
  }

  #btn-row>button {
    padding: 1.5rem 6.5rem;
    font-size: 2rem;
    border-radius: 20px;
  }

  .x-left-first,
  .x-left-second {
    left: calc(0% - 3.5rem);
  }

  .x-right-first,
  .x-right-second {
    right: calc(0% - 3.5rem);
  }

  .x-right-third {
    right: 8rem;
  }

  .x-left-third {
    left: 8rem;
  }

  #row-1 {
    margin-left: unset;
    /* margin-left: 2rem; */
    gap: 1rem;
  }

  .card {
    max-width: unset;
    width: 640px;
  }

  .text-1 {
    width: 300px;
  }

  .text-2 {
    width: 364px;
  }

  .text-3 {
    font-size: 24px;
    width: 507px;
  }
}

@media (min-width: 1700px) {
  .x-middle {
    font-size: 5.5rem;
    width: 1500px;
    margin-bottom: 7rem;
  }

  #row-2 {
    margin-top: 197px;
  }

  .text-card>.card-title {
    margin-left: 2.4rem;
    font-size: 1.5rem;
  }

  .text-card {
    width: 650px;
    margin-left: 1.5rem;
  }

  .card {
    max-width: unset;
    width: 640px;
  }

  /* .text-card>.text{
    width:82%;
  } */
  .card-num>img {
    height: 240px;
    top: -58px;
  }

  #btn-row>button {
    padding: 1.5rem 6.5rem;
    font-size: 2rem;
    border-radius: 20px;
  }

  #row-1 {
    gap: 6rem;
  }

  .pd-1 {
    padding-left: unset;
  }

  .x-left-first,
  .x-left-second {
    left: calc(0% - 3.5rem);
  }

  .x-right-first,
  .x-right-second {
    right: calc(0% - 3.5rem);
  }

  .x-right-third {
    right: 8rem;
  }

  .x-left-third {
    left: 8rem;
  }

  .text-1 {
    width: 300px;
  }

  .text-2 {
    width: 364px;
  }

  .text-3 {
    font-size: 24px;
    width: 527px;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .x-middle {
    font-size: 2.5rem;
    width: 710px;
    margin-bottom: 1.5rem;
  }

  #row-2 {
    margin-top: 98px;
  }

  #row-1 {
    gap: 2rem;
  }

  .card-num>img {
    height: 220px;
    width: 228px;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  .x-middle {
    font-size: 2.3rem;
    width: 550px;
    margin-bottom: unset;
  }

  #porfolio-content-wrapper {
    overflow-y: hidden;
  }
}

@media (min-width: 850px) and (max-width: 1000px) {
  .x-middle {
    font-size: 1.3rem;
    width: 340px;
    margin-bottom: unset;
  }

  #row-2 {
    margin-top: 211px;
  }

  .card {
    max-width: 280px;
  }
}

@media (min-width: 781px) and (max-width: 850px) {
  .x-middle {
    font-size: 1.13rem;
    width: 229px;
    margin-bottom: unset;
  }

  #row-2 {
    margin-top: 211px;
  }

  .card {
    max-width: 240px;
  }

  .text-card>.text {
    font-size: 15px;
  }
}

@media (min-width: 1800px) {

  .x-left-first,
  .x-left-second {
    left: calc(0%);
  }

  .x-right-first,
  .x-right-second {
    right: calc(0%);
  }

  .x-right-third {
    right: 11rem;
  }

  .x-left-third {
    left: 11rem;
  }
}

@media (min-width: 800px) and (max-width: 1099px) {
  .text-card>.text {
    font-size: 15px;
  }

  #pm-card {
    width: 550px;
  }
}

@media (min-width: 426px) and (max-width: 600px) {
  .f-text-m {
    font-size: calc(3rem + 1.7vw);
  }
}

@media (min-width: 781px) and (max-width: 860px) {
  #pm-card {
    width: 480px;
    gap: 10px;
  }

  #pm-card-text {
    font-size: 14px;
  }
}

@media (min-width: 900px) and (max-width: 1000px) {
  #row-1 {
    margin-left: -62px;
    gap: 1.5rem;
  }

  .card {
    max-width: unset;
  }

  .card-num>img {
    height: 218px;
    width: 228px;
  }

  #row-2 {
    margin-top: 117px;
  }

  .x-middle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    width: 565px;
  }
}

@media (min-width: 781px) and (max-width: 900px) {
  #row-1 {
    margin-left: -80px;
    gap: 0.5rem;
  }

  .card-num>img {
    width: 223px;
    height: 198px;
    top: -45px;
  }

  .text-card>.card-title {
    font-size: 1.2rem;
    width: 235px;
  }

  .card {
    max-width: unset;
  }

  .card-2 {
    width: 231px;
  }

  .text-2 {
    width: 230px;
  }

  #row-2 {
    margin-top: 97px;
  }

  .x-middle {
    font-size: 1.6rem;
    width: 500px;
    margin-bottom: 1rem;
  }

  .text-card>.card-title-1 {
    width: 241px;
  }

  .text-card>.card-title-3 {
    width: 260px;
  }

  #btn-row>button {
    margin-top: 3.5rem;
  }
}

@media (min-width: 781px) and (max-width: 920px) {
  .col>p {
    width: 245px;
  }

  #final {
    margin-bottom: 4rem;
  }
}

@media (min-width: 964px) and (max-width: 999px) {
  #row-1 {
    margin-left: -42px;
  }
}

@media (min-width: 860px) and (max-width: 900px) {
  #row-1 {
    margin-left: -51px;
  }
}

.raceline {
  width: 143px;
  height: 33px;
}

.arrow-footer {
  width: 19px;
  height: 16px;
}