@font-face {
  font-family: "formula-bold";
  src: url("../font/formula1-bold.ttf") format("truetype");
}
@font-face {
  font-family: "formula-reg";
  src: url("../font/f1reg.otf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: formula-bold;
  max-width: 1800px;
  margin: auto;
}

header {
  /* min-height: 30px; */
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > #logo {
  height: 32px;
}
header > nav {
  margin-right: 2rem;
}
header > nav > ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
}
#hamburger-menu-wrapper {
  display: none;
}
#drop-arrow {
  margin-left: 10px;
}
main {
}

#category-dropmenu {
  display: flex;
  gap: 0.6rem;
}

#hero {
  min-width: 100%;
}

#hero-img {
  width: 100%;
}
#hero-img-m {
  display: none;
}

/* Portfolio section */

#portfolio {
  min-width: 100%;
  position: relative;
}
#download-card {
  width: 80%;
  /* height: 180px; */
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  /* background-image: url('../images/download_card.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#download-card-m {
  display: none;
}
#download-card-img {
  width: 100%;
}
#card-content {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  position: absolute;
}
#card-content > h2 {
  margin-left: 7rem;
}
#download-options-wrapper {
  display: flex;
  gap: 2rem;
}
.download-options {
  height: 60px;
}
#filler {
  height: 230px;
}
#porfolio-content-wrapper {
  position: relative;
}
#porfolio-content-wrapper > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#number-cards-wrapper {
  width: 70%;
  margin: auto;
}

#row-1 {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 200;
  padding-top: 1rem;
  max-width: 1370px;
  margin: auto;
}
.card {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  max-width: 520px;
  justify-content: center;
}
.card > .card-num {
  width: 110px;
  position: relative;
}
.card-num > img {
  position: absolute;
  left: -14px;
  top: -14px;
  width: 110px;
}
.text-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 10;
}
.text-card > .card-title {
  margin-left: 2rem;
  color: #e01717;
}
.text-card > .text {
  width: 75%;
}

#row-2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  z-index: 200;
  margin-top: 160px;
}

#btn-row {
  width: 100%;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
}
#btn-row > button {
  display: block;
  margin: auto;
  padding: 1rem 5rem;
  border: 2px solid #e01717;
  background-color: transparent;
  font-family: formula-bold;
  font-size: 1.5rem;
  color: #e01717;
  border-radius: 10px;
}

/* Strip */
.strip {
  position: relative;
  font-size: 2.6rem;
  z-index: 100;
}
.strip > img {
  width: 100%;
}

.strip-img-m {
  display: none;
}

.strip-text {
  color: #0a0a0a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  text-align: center;
}

.strip-text-m {
  display: none;
}

/* Game section */

#game-section {
  height: 800px;
  padding-bottom: 40px;
  margin-bottom: 95px;
  position: relative;
}

#game-section::after {
  content: "";
  height: 310px;
  width: 30px;
  position: absolute;
  right: 0;
  bottom: 40px;
  background-image: url(../images/side.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#game-content-wrapper {
  position: relative;
  margin-top: 100px;
  padding: 1rem 0;
}
#game-content-wrapper > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}
#game-content-wrapper-m {
  display: none;
}
#game-content-box {
  max-width: 90%;
  border: 2px solid #272727;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
#game-content-box::before {
  content: "";
  height: 70px;
  width: 80px;
  position: absolute;
  bottom: -20px;
  left: -35px;
  background-image: url(../images/triangle.svg);
}

#game-content-box::after {
  content: "";
  height: 90px;
  width: 90px;
  background-color: #e01717;
  position: absolute;
  right: -20px;
  top: -35px;
  background-image: url(../images/square.svg);
}

#gm-strip {
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
}
#gm-strip > img {
  width: 100%;
}

#gm-car {
  position: absolute;
  max-width: 220px;
  width: 14vw;
  left: 50%;
  transform: translateX(-50%);
  top: calc(28vw);
  z-index: 300;
}

#gm-wrapper {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.col-wrapper {
  width: 38%;
}
.col {
  width: 300px;
}
.col-heading {
  margin-bottom: 1.8rem;
}
.col-heading > h2 {
  font-size: 3rem;
}
.col-heading > span {
  display: block;
  height: 10px;
  width: 100px;
  background-color: #e01717;
}
.col > p {
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #989494;
}
.col > h4 {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-style: italic;
}

/* car grid section */

#grid-strip {
  position: relative;
  top: -50px;
}

/* phone banner section */

#phn-strip {
  border-top: 1px solid #e01717;
}

#final {
  height: 220px;
  margin-top: 70px;
}

#final-content-wrapper {
  display: flex;
  width: 74%;
  margin: auto;
  gap: 220px;
  align-items: center;
}

#final-content-wrapper > p {
  font-family: "Montserrat", sans-serif;
  color: #989494;
  font-size: 20px;
}

/* footer */
footer {
  max-height: 250px;
  overflow: hidden;
  position: relative;
}
#footer-img {
  width: 100%;
}
#footer-img-m {
  display: none;
}
#footer-content-m {
  display: none;
}
#footer-content {
  display: block;
  position: absolute;
  top: 0;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 17px;
  height: 200px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
#footer-content-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}
#pm-text small {
  display: block;
  font-size: 20px;
}
#pm-text span {
  display: block;
  font-size: 16px;
  margin-top: 8px;
  max-width: 210px;
  font-family: formula-reg;
}

#pm-logo {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pm-logo img {
  display: block;
  width: 60px;
  height: 35px;
}
#footer-content-right {
}
#pm-card {
  width: 720px;
  height: 90px;
  border-radius: 20px;
  background-color: #d41919;
  padding: 0 10px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}
#pm-card-text {
  color: #0a0a0a;
  font-size: 16;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#pm-subcard {
  background-color: #0a0a0a;
  height: 70px;
  border-radius: 16px;
  width: 330px;
}
#pm-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 45px;
  padding-top: 7px;
}
.pm-nav-items {
  font-size: 20px;
  font-family: formula-reg;
}
#copyright {
  font-size: 16px;
  margin-top: 60px;
  margin-left: 35px;
  font-family: formula-bold;
}
#pm-subcard {
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 15px;
}
#subcard-footer-logo {
  width: 45px;
}
#subcard-footer-text-heading {
  font-size: 20px;
}
#subcard-footer-text {
  font-size: 14px;
}
#subcard-footer-arrow {
  width: 35px;
}
/* media queries */

@media (max-width: 1280px) {
  #game-section {
    margin-bottom: 75px;
    padding-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* ---------Portfolio Section------------ */
  /* Download Card */
  #download-card {
    top: -45px;
  }
  #download-options-wrapper {
    position: relative;
    top: -4px;
  }
  #card-content {
    gap: 2rem;
  }
  #card-content > h2 {
    font-size: 1.4rem;
    margin-left: 6rem;
  }
  .download-options {
    height: 50px;
  }
  /* Porfolio Content */
  #filler {
    height: 180px;
  }
  #row-1 {
    gap: 3rem;
    justify-content: space-between;
  }
  #row-2 {
    margin-top: 120px;
  }
  .card {
    font-size: 1.2rem;
    max-width: 320px;
    .card-num {
      width: 100px;
    }
    .card-num > img {
      width: 100px;
      top: 16px;
      left: -28px;
    }
    .text-card {
      .card-title {
        margin-left: 1.5rem;
      }
    }
    .text-card > .text {
      width: 90%;
      word-break: break-all;
    }
  }

  /* Game Box Section */
  #game-section {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #game-section::after {
    width: 20px;
    height: 260px;
  }
  #game-content-wrapper {
    margin-top: 60px;
  }

  #game-content-box {
    margin-top: 60px;
  }
  #game-content-box::before {
    height: 60px;
    width: 70px;
    bottom: -15px;
    left: -25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #game-content-box::after {
    height: 65px;
    width: 65px;
    top: -25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #gm-car {
    bottom: -130px;
    width: 200px;
  }

  /* Footer */
  #final {
    height: 180px;
    margin-top: 50px;
  }
  #final-content-wrapper {
    width: 80%;
    gap: 80px;
  }
}
@media (max-width: 1000px) {
}
