@font-face {
  font-family: "formula-bold";
  src: url("../font/formula1-bold.ttf") format("truetype");
}
@font-face {
    font-family: "formula-reg";
    src: url("../font/f1reg.otf") format("truetype");
  }
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  /* font-family: formula-bold; */
  /* max-width: 1800px; */
  margin: auto;
}
#header-hr{
  border: none;
  border-top: 2px solid #D21717;
}
main {
  width: 80%;
  margin: auto;
  padding-bottom: 160px;
}
#toc {
  background-color: #191919;
  border-radius: 24px;
  padding: 40px 55px 60px 55px;
}
#toc-section-header {
  height: 30px;
  width: 100%;
  border-bottom: 3px solid #2d2d2d;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  font-size: 400;
}
#toc-section-header h1 {
  color: #fafafa;
  font-family: formula-bold;
  font-size: 28px;
}
#updated-date small {
  display: block;
  color: #a5a5a5;
  font-size: 12px;
}
#updated-date span {
  display: block;
  color: #e8e8e8;
  font-size: 16px;
  margin-top: 2px;
}

.clause-wrapper {
  margin-bottom: 115px;
}
#fch {
  margin-top: 70px;
}
#toc p {
  font-size: 16px;
  color: #bababa;
  margin-top: 22px;
  font-weight: 400;
  line-height: 19.5px;
}
.clause-wrapper h1 {
  color: #d1d1d1;
  font-weight: 600;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 330px;
}
.clause-wrapper span {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
}
.clause-wrapper h4 {
  margin-top: 28px;
  margin-bottom: 6px;
  font-size: 24px;
  color: #bababa;
  font-weight: 500;
}
.clause-wrapper h6 {
  font-size: 20px;
  color: #bababa;
  margin-top: 25px;
  font-weight: 500;
}
.clause-wrapper ul {
  margin-top: 24px;
}
.clause-wrapper ul li {
  font-size: 16px;
  color: #bababa;
  margin-left: 24px;
}
#last {
  margin-bottom: 0;
}
#doc-nav-wrapper{
    display: flex;
    gap: 70px;
    /* justify-content: space-between; */
    align-items: center;
    padding: 28px 60px;
    margin-top: 70px;
}
#red-line{
    background-color: #D21717;
    height: 86px;
    width: 4px;
}

#doc-nav-wrapper{
  margin-top: 25px;
}

#doc-nav-wrapper h1{
    color: #D21717;
    font-size: 36px;
    font-family: formula-bold;
    width: 200px;
}

#doc-nav{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.doc-nav-item{
    font-family: formula-reg;
    font-size: 20px;
}